$def with (terms)

<script type="text/javascript" src="/static/jquery-1.6.min.js"></script>
<script type="text/javascript" src="/static/jquery-1.8.validate.min.js"></script>

<script type="text/javascript">
	$$(document).ready(function() {
		$$("#faddcourses").validate({
			rules: {
				crn1: { digits: true, min: 10000, max: 99999 },
				crn2: { digits: true, min: 10000, max: 99999 },
				crn3: { digits: true, min: 10000, max: 99999 },
				crn4: { digits: true, min: 10000, max: 99999 },
				crn5: { digits: true, min: 10000, max: 99999 },
				crn6: { digits: true, min: 10000, max: 99999 },
				crn7: { digits: true, min: 10000, max: 99999 },
				crn8: { digits: true, min: 10000, max: 99999 },
				crn9: { digits: true, min: 10000, max: 99999 },
				crn10: { digits: true, min: 10000, max: 99999 }
			},
			messages: {
				crn1: "Please enter a valid CRN.",
				crn2: "Please enter a valid CRN.",
				crn3: "Please enter a valid CRN.",
				crn4: "Please enter a valid CRN.",
				crn5: "Please enter a valid CRN.",
				crn6: "Please enter a valid CRN.",
				crn7: "Please enter a valid CRN.",
				crn8: "Please enter a valid CRN.",
				crn9: "Please enter a valid CRN.",
				crn10: "Please enter a valid CRN."
			}
		});
	});
</script>

<h2>
	Add Courses
</h2>

<a href="#" onclick="addInput('crn-list')">Add more courses</a><br><br>

<script type="text/javascript">
	var counter = 2;
	var limit = 10;
	function addInput() {
		if (counter > limit) {}
		else {
			var table = document.getElementById("login-table");
			var row = table.insertRow(table.rows.length - 1);

			var cell0 = row.insertCell(0);
			cell0.innerHTML = "Course " + counter + " CRN: ";

			var cell1 = row.insertCell(1);
			cell1.innerHTML = "<input type=text name='crn" + counter + "'>"
			counter++;
		}
	}
</script>

<form id="faddcourses" action=/add method="POST">
	<table id="login-table">
		<tr>
			<td>Term: </td>
			<td>
				<select name="term">
				$for entry in terms:
					<option value="$entry['value']">$entry['text']</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>Course 1 CRN: </td>
			<td><input type=text name="crn1"></td>
		</tr>
		<tr>
			<td></td>
			<td><input type=submit value="Submit"></td>
		</tr>
	</table>
</form>
