$def with (terms)

<h2>
	Add Courses
</h2>

<a href="#" onclick="addInput('crn-list')">Add more courses</a><br><br>

<script type="text/javascript">
	var counter = 2;
	var limit = 10;
	function addInput() {
		if (counter > limit) {}
		else {
			var table = document.getElementById("login-table");
			var row = table.insertRow(table.rows.length - 1);

			var cell0 = row.insertCell(0);
			cell0.innerHTML = "Course " + counter + " CRN: ";

			var cell1 = row.insertCell(1);
			cell1.innerHTML = "<input type=text name='crn" + counter + "'>"
			counter++;
		}
	}
</script>

<form action=/add method=POST>
	<table id="login-table">
		<tr>
			<td>Term: </td>
			<td>
				<select name="term">
				$for entry in terms:
					<option value="$entry['value']">$entry['text']</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>Course 1 CRN: </td>
			<td><input type=text name="crn1"></td>
		</tr>
		<tr>
			<td></td>
			<td><input type=submit value="Submit"></td>
		</tr>
	</table>
</form>
