$def with (courses)

			<table>
				<thread>
					<tr>
						<th scope="col">Id</th>
						<th scope="col">E-Mail</th>
						<th scope="col">CRN</th>
						<th scope="col">Created</th>
						<th scope="col">Done</th>
					</tr>
				</thread>
				<tbody>
					$for course in courses:
					<tr>
						<td>$course.id</td>
						<td>$course.email</td>
						<td>$course.crn</td>
						<td>$course.created</td>
						<td>$course.done</td>
					</tr>
				</tbody>
			</table>

			<form method="post" action="/add">
			<p>
				<input type="text" name="email" />
				<input type="text" name="crn" />
				<input type="submit" value="Add" />
			</p>
			</form>
