<script type="text/javascript" src="/static/jquery-1.6.min.js"></script>
<script type="text/javascript" src="/static/jquery-1.8.validate.min.js"></script>

<script type="text/javascript">
	$$(document).ready(function() {
		$$("#flogin").validate({
			rules: {
				email: {
					required: true,
					email: true
				},
				passwd: {
					required: true
				}
			}
		});
	});
</script>

<h2>
	Login
</h2>
<form id="flogin" action="" method=POST>
	<table>
		<tr>
			<td>Email: </td>
			<td><input type=text name="email"></td>
		</tr>
		<tr>
			<td>Password: </td>
			<td><input type=password name="passwd"></td>
		</tr>
		<tr>
			<td></td>
			<td><input type=submit value="Login"></td>
		</tr>
	</table>
</form>
