<script type="text/javascript" src="/static/jquery-1.6.min.js"></script>
<script type="text/javascript" src="/static/jquery-1.8.validate.min.js"></script>

<script type="text/javascript">
	$$(document).ready(function() {
		$$("#fregister").validate({
			rules: {
				email: {
					required: true,
					email: true
				},
				passwd: {
					required: true
				},
				passwd2: {
					required: true,
					equalTo: "passwd"
				}
			},
			messages: {
				passwd2: "The passwords must match."
			}
		});
	});
</script>

<h2>
	Register
</h2>
<form id="fregister" action=/register method=POST>
	<table>
		<tr>
			<td>Email: </td>
			<td><input type=text name="email"></td>
		</tr>
		<tr>
			<td>Password: </td>
			<td><input type=password name="passwd"></td>
		</tr>
		<tr>
			<td>Confirm PW: </td>
			<td><input type=password name="passwd2"></td>
		</tr>
		<tr>
			<td></td>
			<td><input type=submit value="Register!"></td>
		</tr>
	</table>
</form>
