$def with (session, content)

<!DOCTYPE html>

<html>
	<head>
		<title>VT Course Search</title>
		<link rel="stylesheet" href="/static/layout.css" type="text/css" />
		<link rel="shortcut icon" href="/static/vt_icon.png" />
	</head>
	<body>
	<div id="container">
		<div id="header">
			<h1>
				VT Course Search <font color="red">(Beta!)</font>
			</h1>
		</div>
		<div id="navigation">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				$if session.login:
					<li><a href="/status">Status</a></li>
					<li><a href="/add">Add Courses</a></li>
					<li><a href="/logout">Logout</a></li>
					<!--<li>$session.email</li>-->
				$else:
					<li><a href="/register">Register</a></li>
					<li><a href="/login">Login</a></li>
			</ul>
		</div>
		<div id="content">
<!-- Main Code Starts Here -->

$:content

<!-- Main Code Ends Here -->
		</div>
		<div id="footer">
			Provided by <a href="mailto:niothiel@gmail.com">Niothiel</a><br>
			Fork me on <a href="http://github.com/niothiel/VTCourseSearch">GitHub</a>
		</div>
	</div>
	</body>
</html>
