$def with (session, content)

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">


<html>
	<head>
		<!--
		<link rel="stylesheet" href="/static/main.css" type="text/css" />
		-->
		<title>VT Course Search</title>
		<link rel="stylesheet" href="/static/layout.css" type="text/css" />
	</head>
	<body>
	<div id="container">
		<div id="header">
			<h1>
				VT Course Search
			</h1>
		</div>
		<div id="navigation">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				$if session.login == 0:
					<li><a href="/register">Register</a></li>
					<li><a href="/login">Login</a></li>
				$else:
					<li><a href="/status">Status</a></li>
					<li><a href="/add">Add Courses</a></li>
					<li><a href="/logout">Logout</a></li>
			</ul>
		</div>
		<div id="content">
<!-- Main Code Starts Here -->

$:content

<!-- Main Code Ends Here -->
		</div>
		<div id="footer">
			Provided by <a href="mailto:niothiel@gmail.com">Niothiel</a>
		</div>
	</div>
	</body>
</html>
