$def with (courses)

<h2>
	Status
</h2>
<p>
	On this page you can check the status of your courses. If you wish to remove a course, click "Delete". Once this is done, the course will no longer be tracked. You are still free to readd it back at any time.
</p>
<br>

$if len(courses) > 0:
	<form id="fdelete" action="" method=POST>
		<table>
			<thead>
				<tr>
					<th>CRN</th>
					<th>Available</th>
					<th>Added</th>
					<th>Delete?</th>
				</tr>
			</thead>
			<tbody>
				$for course in courses:
					<tr>
						<td>$course['crn']</td>
						<td>$course['available']</td>
						<td>$course['timeadded'].date()</td>
						<!-- Gods of coding please don't kill me, I know that this is sloppy. -->
						<td><input type="checkbox" name="$course['crn'],$course['term']" value="$course['crn'],$course['term']" /></td>
					</tr>
			</tbody>
		</table>
		<input type=submit value="Delete">
	</form>
$else:
	You must first add some courses to the list!
